<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    
    <div class="info-box">
        <h2>Technologies Used:</h2>
        <ul>
            <li>NestJS - Progressive Node.js framework</li>
            <li>TypeScript - Typed superset of JavaScript</li>
            <li>TypeORM - ORM for database operations</li>
            <li>PostgreSQL - Relational database</li>
            <li>Handlebars - Template engine</li>
        </ul>
    </div>
</div>
